{{#each enums}}
export enum {{camelize this.name}} {
  {{#each values}}
  {{toUpperCase this}} = "{{toUpperCase this}}",
  {{/each}}
}
{{/each}}

export enum {{capitalize name}}ListOrderBys {
  ID__DESC = "ID__DESC",
  ID__ASC = "ID__ASC",
}
export const Map{{capitalize name}}ListOrderBys = {
  [{{capitalize name}}ListOrderBys.ID__DESC]: "최신순",
  [{{capitalize name}}ListOrderBys.ID__ASC]: "오래된순"
};

