{{#each enums}}
export enum {{name}} {
  {{#each values}}
  {{this}} = "{{this}}",
  {{/each}}
}
{{/each}}

export enum {{capitalize name}}ListOrderBys {
  ID__DESC = "ID__DESC"
}
export const Map{{capitalize name}}ListOrderBys = {
  [{{capitalize name}}ListOrderBys.ID__DESC]: "최신순"
};
