import { Module } from "@nestjs/common";
import { {{plucapitalize name}}Controller } from "./{{pluralize name}}.controller";
import { {{plucapitalize name}}Service } from "@src/modules/{{pluralize name}}/{{pluralize name}}.service";
import { UtilService } from "@src/services/util.service";

@Module({
  imports: [],
  controllers: [{{plucapitalize name}}Controller],
  providers: [UtilService, {{plucapitalize name}}Service]
})
export class {{plucapitalize name}}Module {}
